.notifications-section {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #B19D4E;
  margin-bottom: 20px;
  width: 90%;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* Center all text within this section */
}

.notification {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #B19D4E;
}

.notification-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content within the header */
  margin-bottom: 5px;
}

.notification-header i {
  font-size: 1.5em;
  color: #B19D4E;
  margin-right: 10px;
}

.notification-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #B19D4E;
}

.notification-message {
  margin: 5px 0;
  font-size: 1em;
  color: #B19D4E;
}

.notification-timestamp {
  font-size: 0.9em;
  color: #b0b0b0;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  text-align: center; /* Ensure paginator text is centered */
}

.paginator button {
  background-color: white;
  border: 1px solid #B19D4E;
  color: #000;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.paginator button.active {
  background-color: #B19D4E;
  color: #fff;
}

.paginator button:disabled {
  background-color: #fff;
  color: #ccc;
  cursor: not-allowed;
}

.paginator button i {
  font-size: 1.2em;
}

.golden-line {
  border: 0;
  height: 1px;
  background-color: #B19D4E;
  margin: 20px 0;
}
