<div class="promo-slider">
  <div class="slider-container">
    <h2>PROMOCIJE</h2>
    <div class="slider-wrapper" [ngStyle]="{ 'transform': 'translateX(' + (-currentIndex * 33.33) + '%)' }">
      @for (promotion of promotions; track $index) {
        <div class="slider-item">
          <h3>{{ promotion.name }}</h3>
          <img [src]="'http://localhost:3000/uploads/' + promotion.filename" alt="{{ promotion.name }}">
          <div class="slider-caption">
            <p>{{ promotion.description }}</p>
          </div>
        </div>
      }
    </div>
    <button (click)="prevSlide()" class="fas fa-arrow-left"></button>
    <button (click)="nextSlide()" class="fas fa-arrow-right"></button>
  </div>
</div>
