<div class="forgot-password-container">
  <div class="login-form">
    <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">ADRESA E-POŠTE</label>
        <input id="email" formControlName="email" type="email" placeholder="example@gmail.com" />
      </div>
      <div class="form-footer">
        <button
        type="submit"
        [disabled]="!isFormValid()"
        [class.disabled]="!isFormValid()"
      >
        Pošalji Email
      </button>
      </div>

    </form>
  </div>

</div>
