<header class="header">
  <nav>
    <ul class="nav-left">
      <li (click)="onHomePage()">PROMOCIJE</li>
      <li (click)="onCakes()">TORTE</li>
      <li (click)="onCookies()">KOLAČI</li>
    </ul>
    <div class="logo-container">
      <img src="assets/logo.png" (click)="onHomePage()"/>
    </div>
    <ul class="nav-right">
      <li (click)="onContact()">KONTAKT</li>
      <li (click)="onShoppingCart()"><i class="fas fa-shopping-cart"></i><span class="cart-item-count">{{ cartItemCount }}</span></li>
      <li><i class="fas fa-bell" (click)="goToNotifications()"></i></li>
      <li><i class="fas fa-user" (click)="onProfile()"></i></li>
      @if (isLoggedIn) {
        <li><i class="fas fa-sign-out-alt" (click)="logout()"></i></li>
      }
    </ul>
  </nav>
</header>
