<div class="cart-container">
  <h2>KORPA</h2>
  <hr class="golden-line">
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-item" *ngFor="let item of cartItems">
      <div class="item-info">
        <p class="cart-item-title"><strong>{{ item.name }}</strong></p>
        <p class="cart-item-message">Količina:
          <button (click)="decrementQuantity(item.productId)">-</button>
          {{ item.quantity }}
          <button (click)="incrementQuantity(item.productId)">+</button>
        </p>
        <p class="cart-item-message">Cena: {{ item.price | currency:'RSD':'symbol':'1.2-2' }}</p>
      </div>
      <div class="item-total">
        <p>{{ item.quantity * item.price | currency:'RSD':'symbol':'1.2-2' }}</p>
        <button (click)="removeItem(item.productId)"><i class="fas fa-trash"></i></button>
      </div>
    </div>
    <div class="cart-total">
      <p><strong>UKUPNO: {{ totalPrice | currency:'RSD':'symbol':'1.2-2' }}</strong></p>
    </div>
    <div class="cart-actions">
      <button class="continue-shopping" (click)="onContinueShopping()">Nastavi Kupovinu</button>
      <button *ngIf="cartItems.length > 0" class="confirm-order" (click)="onConfirmOrder()">Potvrdi Narudzbinu</button>
    </div>
  </div>
  <ng-template #emptyCart>
    <div class="empty-cart-container">
      <p>Korpa je prazna.</p>
      <button class="cart-actions continue-shopping" (click)="onContinueShopping()">Nastavi Kupovinu</button>
    </div>

  </ng-template>
</div>
