<div class="contact-component">
  <h2>KONTAKT</h2>
  <div class="contact-info">
    <p>Za sva pitanja možete nas kontaktirati putem telefona:</p>
    <p>
      064/123-4567 &nbsp;&nbsp; 065/123-4567 <br>
      031/111-1111 &nbsp;&nbsp; 031/222-2222
    </p>
    <p>ili putem mail adrese: <a href="mailto:slatki.zalogaji@gmail.com">{{mailAddress}}</a></p>
    <p>Posetite naš instagram: <a href="https://instagram.com/slatki.zalogaji">'{{instagramProfile}}'</a><br>
       tiktok: <a href="https://tiktok.com/@slatkizalogaji">{{tiktokProfile}}</a>
    </p>
    <p>Naša radionica nalazi se u ulici Zlatiborska 11, 31315 Zlatibor, Srbija</p>
    <p><strong>Radno vreme poslastičarnice:</strong><br>
       Ponedeljak - Nedelja &nbsp; 7h-22h
    </p>
  </div>

  <div class="contact-images">
    <img src="assets/map.png" alt="Map" class="map-image">
    <h3 style="color: #B19D4E;">NAJSLAĐI ZALOGAJI SAMO ZA VAS!</h3>
    <!-- <img src="assets/logo.png" alt="Logo" class="logo-image"> -->
  </div>
</div>
